<header class="cabecalho">
    <div class="container fluid">
        <div class="row" id="titulo">
            <!---imagens do titulo-->
            <div class="col-md-12 text-center">
                <nav class="navbar navbar-light fixed-top " style="background-color: #e3f2fd;">
                    <!-- Conteúdo do navbar -->
                    <a class="navbar-brand" href="#">Navbar com texto</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar"
                        aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="textoNavbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                    aria-haspopup="true" aria-expanded="false">Redes Sociais</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="https://www.youtube.com/" target="blank"><img
                                            src="/assets/imagens/you.png" width="20px" height="20px">Youtube</a>
                                    <a class="dropdown-item" href="https://pt-br.facebook.com/" target="blank"><img
                                            src="/assets/imagens/face.png" width="20px" height="20px">Facebook</a>
                                    <a class="dropdown-item" href="https://www.instagram.com/?hl=pt-br" target="blank">
                                        <img src="/assets/imagens/Instagram.png" width="20px" height="20px">
                                        Instagram</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Link isolado</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Destaques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Preços</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.cinepolis.com.br/programacao/sao-paulo/21.html"
                                    target="_blank">Em
                                    cartaz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" target="_blank">Cadastre-se</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Texto navbar com um elemento inline
                        </span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>