<section>
    <div class="row">
            <!--rodapé-->
            <div class="col-md-12">
                    <ul>
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/r9-DM9uBtVI" muted
                                    autoplay=1″ frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                    </ul>

                    <ul>
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/zAGVQLHvwOY" muted
                                    autoplay=1″ frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                    </ul>
                    <ul>
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/CmRih_VtVAs" muted
                                    autoplay=1″ frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                    </ul>

            </div>
    </div>
</section>