<footer id="myFooter">
  <div class="container">
      <ul>
          <li><a href="#">Informações da Empresa</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Blog</a></li>
          <li><a [routerLink]="'/videos'">Trailers</a></li>
      </ul>
      <p class="footer-copyright">- Romulo Silva</p>
  </div>
  <div class="footer-social">
      <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
      <a href="#" class="social-icons"><i class="fa fa-instagram"></i></a>
      <a href="#" class="social-icons"><i class="fa fa-youtube"></i></a>
      <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
  </div>
</footer>