<section>
    <div class="container text-center center">
        <div class="row mb-4">
            <div class="col-md-12">
                <img src="../../assets/imagens/feliz.jpg" alt="" id="primeiraimg">
            </div>
        </div>
        <div class="row mb-4" id="bloco1">
            <div class="col-md-8" id=" texto1">
                <span>Cartão de Crédito<br/></span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
            </div>
            <div class="col-md-4">
                <img src="../../assets/imagens/card.png"alt="">
            </div>
        </div>
       <div class="row mb-4">
        <div class="col-md-12">
            <img src="../../assets/imagens/pessoa.jpg" id="segundaimg">
        </div>
        
    </div>
    <div class="row mb-4" id="bloco2">
       
        <div class="col-md-4" id="texto2">
            <img src="../../assets/imagens/credit-card.png"  alt="">
        </div>
        <div class="col-md-8">
            <span>Cartão Internacional Nubank Mastercard<br/></span>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
        </div>
    </div>
    
    </div>
</section>