
<div class="container">
        <div class="row" id="menu">
                <div class="col-md-4">
                    <div class="text-center linkmenu">
                        <a [routerLink]="'/home'">HOME</a><!--links para as rotas dos componentes-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center linkmenu">
                        <a [routerLink]="'/formulario'">NOVO CADASTRO</a><!--links para as rotas dos componentes-->

                        </div>
                </div>
                <div class="col-md-4"><div class="text-center linkmenu">
                    <a [routerLink]="'/listagem'">LISTAGEM</a><!--links para as rotas dos componentes-->
                </div>
                </div>
            </div>
</div>